.Footer {
  background-color: #6aa3dc; /* Lys bakgrunnsfarge */
  padding: 30px 50px;
  border-bottom: 1px solid #ddd;
}

.cont {
  display: flex;
  justify-content: space-between;
}
.kontakt {
  color: black;
  font-size: 20px;
}

.kontakt:hover {
  color: rgba(0, 0, 0, 0.6);
}
